<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis-config.xml Mybatis 사용하려면 이게 제일 중요함. -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!--
    아래의 environment 태그에서 사용할 DB 연결 정보가 들어있는
    .properties 파일을 등록한다.
    단, .properties 파일은 자바 classpath에 있어야 한다.  
-->
    <properties resource="ex04/jdbc.properties"></properties>
    
<!-- 별명 지정? SQL Manager 파일에서 사용할 도메인 클래스의 별명을 지정한다.
        위치 주의!      -->
        <typeAliases>
            <typeAlias type="ex04.Member" alias="member"/>
        </typeAliases>
    <!-- DBMS 연결 정보 설정 -->
    <environments default="development">
<!--
        개발용, 테스트용, 운영용으로 여러 개의 연결 정보를 정의한 후
        실행할 때 사용할 DB를 선택한다.
            how?
        위의 태그에서 default 속성에 사용할 DB를 지정한다.
-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    
    <!-- SQL 코드가 들어있는 파일 정보, 자바 클래스 패키지를 가리키고 있음 ('/') -->
    <mappers>
        <mapper resource="ex04/MemberDao-01.xml"/>
        <!-- xml 파일 이름는 직관적으로 보이기 위해 사용할 class 파일 이름과 같게 함 -->
    </mappers>
</configuration>